.update_options {
    float: left;
    width: 33%;
}

.update_options label {
    font-weight: 500;
    padding-left: 3px;
}

.update_config_sep {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.update_divider {
    width: 100%;
    float: left;
    color: #F1F1F1;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fafafa;
}

.update-btn-container {
    float: left;
    width: 100%;
}